@model GamesToPlayProject.Entities.GamesEntity

@{
    ViewData["Title"] = $"Edit game: {@Model.Title}";
}

<form method="put" asp-action="EditGame" asp-route-id="@Model.Id">
    <div class="mb-3">
        <label asp-for="@Model.Title" class="form-label">Title: </label>
        <input asp-for="@Model.Title" class="form-control" required value="@Model.Title"/>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.TimeSpent" class="form-label">Time Spent: </label>
        <input asp-for="@Model.TimeSpent" class="form-control" required value="@Model.TimeSpent"/>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ImgUrl" class="form-label">ImgUrl: </label>
        <input asp-for="@Model.ImgUrl" class="form-control" required value="@Model.ImgUrl"/>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="@Model.IsFinished" type="checkbox"  class="form-check-input"/>
        <label asp-for="@Model.IsFinished" class="form-check-label">Are you finished this game? </label>
    </div>
    <button class="btn btn-primary" type="submit">Apply changes</button>

</form>

