@model GamesToPlayProject.Entities.GamesEntity

@{
    ViewData["Title"] = @Model.Title;
}

<a class="btn btn-primary" asp-controller="Games" asp-action="EditGameForm" asp-route-id="@Model.Id">Edit Game</a>

<div>
    <h2>@Model.Title</h2>
    <p>You spent: @Model.TimeSpent Hours</p>
    <div class="">
        <img src="@Model.ImgUrl" class="img-fluid" alt="@Model.Title" />
    </div>
</div>